CLAUDE.md
*.lo
*.la
*.dep
.libs/
Makefile
Makefile.fragments
Makefile.objects
autom4te.cache/
build/
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
modules/
run-tests.php
